body {
    background-color: rgb(173, 206, 125);
}

#ingImg {
    width: 100%;

}

.ingredientImgWrapper {
    width: 10rem; 
    border: 1px blue solid;
}

#recipe-list {
    display: flex;
    flex-flow: column wrap;
}

#ingredientDetails {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}